*Make sure that the python installer is already installed in your system
*Based on the libraries that they use, use python 3.10.10 (pwede mo i dl sa official site or yung nasa gdrive

kapag naka install na yung python...

Open ka ng Kahit anong terminal (cmd/powershell/)

check yung directory nung nasa terminal, dapat nasa same directory kung nasaan nakalagay yung .whl file at requirements.txt

i type yung command sa terminal:
pip install -r requirements.txt



